body {
    font-family: fredoka, sans-serif;
}

.card {
    display: inline-block;
    width: 30%;
    background-color: rgb(219, 210, 244);
    border: 3px solid rgb(48, 48, 48);
    border-radius: 12px;
    text-align: center;
    max-width: 250px;
}

.card:hover,
.card:active {
    border-color: white;
    box-shadow: 2px 2px 4px 2px black;
    cursor: pointer;
}

.card__title {
    color: rgb(0, 0, 0);
    margin-bottom: 8px;
}

.card__subtitle {
    font-size: 16px;
    margin-top: 0;
}

.card__description {
    color: rgb(57, 57, 57);
    font-size: 20px;
    padding: 0 10px;
    font-weight: 100;
}

.card__price {
    font-size: 24px;
    margin: 24px;
}

.card-premium {
    background-color: rgb(151, 132, 25);
    padding: 16px 8px;
    margin: 0 8px;
}

.card-premium .card__title {
    color: white;
}

.card-premium .card__subtitle {
    color: white;
}

.card-premium .card__description {
    color: rgb(237, 237, 237);
}

.card-premium .card__price {
    color: white;
}