html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Nata Sans;
}


a {
    text-decoration: none;
    color: inherit;
}

.header {
    width: 100%;
    background-color: rgb(217, 101, 101);
}

.header > div {
    display: inline-block;
    vertical-align: middle;
}

.brand {
    display: inline-block;
    width: 49%;
    font-size: 30px;
}

.brand a {
    color: rgb(255, 255, 255);
}

.brand a:hover {
    color: rgb(247, 183, 183);
}

.brand__container {
    margin-left: 32px;
}

.links {
    display: inline-block;
    width: 49%;
    font-size: 20px;
}

.header__items {
    text-align: end;
    margin: 0;
    margin-right: 32px;
    padding: 0;
}

.header__items li {
    display: inline;
    margin-left: 16px;
}

.header__items li a {
    color: rgb(255, 255, 255);
}

.header__items li a:hover {
    color: rgb(247, 183, 183);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
}

footer p {
    display: inline-block;
    width: 45%;
}

footer p:first-of-type {
    margin-left: 5%;
}

.footer-end {
    text-align: right;
    margin-right: 5%;
}